* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: #1c1c1c;

}

/* --nav-styles-- */
.navbar {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 15px 20px;
    padding-right: 40px;
    background-color: rgba(0, 0, 0, 1);
    z-index: 20;
}

.site-logo {
    width: 50px;
    aspect-ratio: 1/1;
}

.site-name {
    font-size: 3.5em;
    font-weight: bold;
    color: #ffd700;
}

.menu {
    margin-top: 10px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu li:not(:last-child) {
    margin-right: 22.5px;
}

.menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    transition: 0.25s;
}

.menu li a:hover {
    color: #ffd700;
}

.collapse-icon {
    display: none;
}

@media all and (max-width: 940px) {
    .menu {
        min-width: 20vw;
        background-color: white;
        flex-direction: column;
        position: absolute;
        top: 12.5px;
        right: -250px;
        transition: 0.5s;
    }

    .hidden {
        visibility: hidden;
    }

    .menu-transition {
        right: 67.5px;
    }

    .menu li {
        width: 100%;
        margin: 0px !important;
        border-bottom: 1px solid gainsboro;
    }

    .menu li a {
        gap: 10px;
        color: black;
        padding: 10px 25px 10px 25px;
        justify-content: flex-start;
    }

    .collapse-icon {
        display: block;
        font-size: 1.3em;
        color: white;
    }

    @media all and (max-width: 375px) {
        .site-name {
            font-size: 2em;
        }
    }

    @media all and (max-width: 320px) {
        .site-name {
            font-size: 1.5em;
        }
    }
}

footer {
    background: #2f2d2d;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin-bottom: 10px;
}

footer .social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer .social-icons li {
    margin: 0 10px;
}

footer .social-icons a {
    color: #fff;
    font-size: 1.5em;
    transition: color 0.3s;
}

footer .social-icons a:hover {
    color: #FFD700;
}

