#resume{
    overflow-x: hidden;
}

#education {
    padding: 60px 20px;
    background: #1c1c1c;
    text-align: center;
}

#resume h1{
    color: white;
    font-size: 3em;
     text-align: center;
    background-color: #1c1c1c;

}

#education h3 {
    font-size: 1.5em;
    margin-bottom: 40px;
    color: #FFD700;
}
#skills{
     padding: 60px 20px;
     background: #1c1c1c;
     text-align: center;
 }

#skills h3 {
    font-size: 1.5em;
    color: #FFD700;
    margin-bottom: 46px;
}
#skills  h4{
    font-size: 1em;
    margin-bottom: 40px;
    color: white;
}
#img_list1{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
}
#img_list2{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

#img_list3{
    list-style-type: none;
    display: flex;
    margin-top: 50px;
}

.timeline {
    position: relative;
    padding-left: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-left: 2px solid #FFD700;
    z-index: 1;

}

.timeline-item {
    position: relative;
    margin-bottom: 30px;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-dot {
    position: absolute;
    left: -13px;
    width: 20px;
    height: 20px;
    background-color: #FFD700;
    border-radius: 50%;
    top: 0;
}

.timeline-content {
    background: #121212;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.timeline-content h4 {
    font-size: 1em;
    color: #fff;
    margin-bottom: 5px;
}

.timeline-content p {
    font-size: 0.8em;
    color: #ccc;
}
#img_list3 li:first-child{
    margin-left: 197px;
}

#img_list3 li:last-child{
    margin-left: 38px;
}

#img_list3 li:nth-child(2){
    margin-top: 80px;
    margin-left: 50px;
}
/*
#resume section:nth-child(2){
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}*/

#aa {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media all and (max-width: 900px){
    #aa{
        display: block;
    }

    #img_list3 li:first-child{
        margin-left: 0;
    }

    #img_list3 li:last-child{
        margin-left: 0;
    }

    #img_list3 li:nth-child(2){
        margin-top: 0;
        margin-left: 0;
    }
    #img_list3{
        justify-content: space-evenly;
    }

}
