* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: #f9f9f9; /* Light background */
}

/* --nav-styles-- */
.navbar {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 15px 20px;
    padding-right: 40px;
    background-color: rgba(255, 255, 255, 0.9); /* Light transparent navbar */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
    z-index: 20;
}

.site-logo {
    width: 50px;
    aspect-ratio: 1/1;
}

.site-name {
    font-size: 3.5em;
    font-weight: bold;
    color: #333; /* Dark text color */
}

.menu {
    margin-top: 10px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.menu li:not(:last-child) {
    margin-right: 22.5px;
}

.menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #333; /* Dark text */
    transition: 0.25s;
}

.menu li a:hover {
    color: #ff6347; /* Tomato hover color for visibility */
}

.collapse-icon {
    display: none;
}

@media all and (max-width: 940px) {
    .menu {
        min-width: 20vw;
        background-color: #0a0a0a; /* White background for mobile */
        flex-direction: column;
        position: absolute;
        top: 12.5px;
        right: -250px;
        transition: 0.5s;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Slight shadow for separation */
    }

    .hidden {
        visibility: hidden;
    }

    .menu-transition {
        right: 67.5px;
    }

    .menu li {
        width: 100%;
        margin: 0px !important;
        border-bottom: 1px solid #ddd; /* Lighter divider */

    }

    .menu li a {
        gap: 10px;
        color: #ffffff; /* Dark text color */
        padding: 10px 25px 10px 25px;
        justify-content: flex-start;
    }

    .menu li:nth-child(7) i{
        margin-left: 10rem;
    }

    .collapse-icon {
        display: block;
        font-size: 1.3em;
        color: #333; /* Dark icon */
    }

    @media all and (max-width: 375px) {
        .site-name {
            font-size: 2em;
        }
    }

    @media all and (max-width: 320px) {
        .site-name {
            font-size: 1.5em;
        }
    }
}

footer {
    background: #f0f0f0; /* Light footer background */
    color: #333; /* Dark footer text */
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin-bottom: 10px;
}

footer .social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer .social-icons li {
    margin: 0 10px;
}

footer .social-icons a {
    color: #333; /* Dark icon color */
    font-size: 1.5em;
    transition: color 0.3s;
}

footer .social-icons a:hover {
    color: #ff6347; /* Hover with a tomato color */
}
